@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Sans:wght@300;400;500&display=swap');

:root {
  --color-primary: #6750A4;
  --color-secondary: #E8DEF8;
  --color-background: #F7F2FA;
  --color-light-lavender:#ECE6F0;
  --color-light-purple-gray: #CAC4D0;
  --color-muted-purple: #4A4459;
  --color-muted-dark:#49454F;
  --color-white: #ffffff;
  --color-dark: #1D1B20;
  --color-black: #000000;
  --color-red: #ff0000;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;
  --font-main: 'DM Sans';
  --font-heading: 'DM Serif Display';
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-size: 0.9rem;
  --icon-lg: 3.5rem;
  --icon-sm: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-background);
  color: var(--color-black);
  font-size: 16px;
}

#app {
  width: 100%;
  max-width: 36rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: var(--font-weight-regular );
  border: 0.1rem solid var(--color-light-purple-gray);
  border-top: none;
  border-bottom: none;
}

input {
  outline: none;
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--color-white);
  font-size: var(--font-size);
  padding: 1rem 2rem;
}

.qr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}



.Vue-Toastification__toast {
  font-size: var(--font-size);
  border-radius: var(--border-radius-md)!important;
}

.Vue-Toastification__toast--success {
  background: var(--color-primary)!important;
  color: var(--color-white);
}

.Vue-Toastification__toast--error {
  background: var(--color-red)!important;
  color: var(--color-white);
}