@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Sans:wght@300;400;500&display=swap');
@import './themes.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-background);
  color: var(--color-black);
  font-size: 16px;
}

#app {
  width: 100%;
  max-width: 36rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: var(--font-weight-regular );
  border: 0.1rem solid var(--color-light-purple-gray);
  border-top: none;
  border-bottom: none;
}

input {
  outline: none;
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--color-white);
  font-size: var(--font-size-sm);
  padding: 1rem 2rem;
}

.qr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Vue-Toastification__toast {
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius-md)!important;
}

.Vue-Toastification__toast--success {
  background: var(--color-green)!important;
  color: var(--color-white);
}

.Vue-Toastification__toast--error {
  background: var(--color-red)!important;
  color: var(--color-white);
}