:root {
    --color-primary: #6750A4;
    --color-secondary: #E8DEF8;
    --color-background: #F7F2FA;
    --color-light-lavender:#ECE6F0;
    --color-light-purple-gray: #CAC4D0;
    --color-muted-purple: #4A4459;
    --color-grayish-purple: #CAC4D0;
    --color-muted-dark:#49454F;
    --color-grey: #757575;
    --color-white: #ffffff;
    --color-dark: #1D1B20;
    --color-black: #000000;
    --color-red: #ff0000;
    --color-dark-red: #b3261e;
    --color-light-pink: #ffd8e4;
    --color-light-purple: #EADDFF;
    --color-light-green: #34C75929;
    --color-green: #1BB542;
    --color-icon: #6750A4;
    --color-toast: #e1e9b7;
    --border-radius-sm: 1rem;
    --border-radius-md: 2rem;
    --border-radius-lg: 4rem;
    --font-main: 'DM Sans';
    --font-heading: 'DM Serif Display';
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-extrabold: 800;
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xxl: 6rem;
    --icon-lg: 3.5rem;
    --icon-sm: 1.2rem;
}

[data-theme="dark"] {
    --color-primary: #D0BCFE;
    --color-secondary: #4A4458;
    --color-background: #1D1B20;
    --color-light-purple: #3c3c3c;
    --color-light-purple-gray: #49454F;
    --color-light-lavender: #2B2930;
    --color-muted-purple: #E8DEF8;
    --color-muted-dark: #CAC4D0;
    --color-grey: #bdbdbd;
    --color-white: #000000;
    --color-dark: #E6E0E9;
    --color-black: #000000;

}
